$slide-content-height: 230px;

@keyframes slide-down {
  0% {
    visibility: hidden;
    height: 0;
  }

  95% {
    visibility: visible;
    height: $slide-content-height;
  }

  // 動畫結束時把高設成 auto
  100% {
    visibility: visible;
    height: auto;
  }
}
.slide-down {
  animation: slide-down 0.3s linear both;
}

@keyframes twinkle {
  0% {
    opacity: .2;
  }
  50% {
    opacity: .7;
  }
  100% {
    opacity: .2;
  }
}
.twinkle {
  animation: twinkle 0.3s ease-in-out;
}