@import 'color.scss';

.film_form_modal {
  .form_modal {
    input, textarea {
      background: $form-modal-input;
      color: $text-dark-hover;
      border: 1px solid $tool-border;
      padding: 3px 6px;
      transition: all .3s;
      &:hover, &:focus {
        border-color: $tool-border-hover;
        background: $form-modal-input-hover;
        color: $nav-link;
      }
      &:focus {
        box-shadow: 0 0 6px rgba(240, 240, 240, .5);
      }
    }
    .flex-group {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      >div {
        &:first-child {
          margin-right: 15px;
        }
      }
      label {
        margin-bottom: 10px;
      }
      input {
        width: 100%;;
      }
    }
    .no_wrap {
      label {
        margin-bottom: 0;
      }
    }
    .number-group {
      display: flex;
    }
    .input-group, .group {
      display: flex;
      align-items: center;
    }
    .input-group {
      margin-bottom: 10px;
      .group {
        width: 100%;
      }
      &.film-check {
        >label {
          margin-bottom: 10px!important;
        }
        .group {
          display: flex;
          flex-wrap: wrap;
          div.check-group {
            display: flex;
            width: calc(100%/7);
            &:not(:last-child) {
              margin-bottom: 10px;
            }
          }
        }
      }
      &.select-tool {
        >div {
          position: relative;
        }
        select, svg {
          color: #888;
        }
        select {
          border-radius: 0;
          -webkit-appearance: none;
          background: none;
          padding: 5px 30px 0px 10px;
          transition: none!important;
          cursor: pointer;
          border-color: #8a754d;
          &:focus {
            outline: none;
          }
          &:hover {
            color: #aaa;
            box-shadow: 0 0 8px #000;
            border-color: #d0a554;
            +svg {
              color: #aaa;
            }
          }
        }
        svg {
          position: absolute;
          right: 10px;
          top: 8px;
          font-size: 14px;
          transition: none!important;
          pointer-events: none;
        }
      }
      .label-check {
        width: 22px;
        height: 22px;
        display: inline-block;
        background: #555;
        border: 1px solid #111;
        border-radius: 2px;
        margin-right: 10px;
        &:hover {
          background: #333;
        }
        &:before {
          content: '';
          display: block;
          border: solid #fff;
          border-width: 2px 0 0 2px;
          width: 8px;
          height: 14px;
          transform: rotate(225deg) translate(-5px, 3px);
          opacity: 0;
          transition: all .3s;
        }
        &.is-checked {
          background: #333;
          border-color: #d0a554;
          &:hover {
            background: #555;
          }
          &:before {
            opacity: 1;
          }
        }
      }
    }
    .add_seasons_group {
      .seasons_group {
        .title {
          display: flex;
          align-items: center;
          h3 {
            margin: 0 10px 0 0;
          }
        }
      }
    }
  }
}